*{
    margin: 0px;
    padding: 0px;
    /* font-family: ; */
    /* background-color: whitesmoke; */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Logo{
    width: 150px;
    margin-right: 45px;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.menu{
    width: 28px;
    margin: 0px 15px;
}
.nav-right{
    display: flex;
    align-items: center;
}

.nav-user-icon img{
    width: 30px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 3px;
}

.search img{
    width: 18px;
    margin-right: 10px;
    /* padding: 2px; */
    /* margin-top: 2px; */
    /* position: relative;
    top: 8px; */
}

.search input{
    width:100%;
    height: 22px;
    border: 2px solid white;
    border-radius: 15px;
    /* width: 350px; */
    /* padding: 10px; */
    padding-left: 6px;
    padding-right: 5px;
    outline: none;
}

nav img{
    cursor: pointer;
}
.search{
    display: flex;
    width: 400px;
    background: white;
    border-radius: 20px;
    align-items: center;
    /* padding: 0px 20px; */
    margin-right: 30px;
}

.online{
    position: relative;
}

.online::after{
    background-color: #41db51;
    border: 1px solid white ;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 25px;
    right: 3px;
    /* left: 0; */
    bottom: 0;
    content: ' ';
}
.container{
    /* width: 100%; */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    /* height: 100%; */
}

.left-sidebar{
    /* display: flex; */
    position: sticky;
    /* background-color: #cbdffa; */
    /* width: 20%; */
    flex-basis: 25%;
    /* height: 100vh; */
    /* margin-left: 65px; */
    /* margin-top: 10px; */
    align-self: flex-start;
}
.right-sidebar{
    position: sticky;
    background-color: white;
    /* width: 20%; */
    top: 70px;
    flex-basis: 25%;
    padding: 20px;
    height: 1000px;
    border-radius: 2px;
    /* background: #fff; */
    color: #626262;
    align-self: flex-start;
    /* margin-right: 65px; */
    /* margin-top: 10px; */
}
.main-content{
    flex-basis: 47%;
}

.imp-links{
    /* width: 100%;/ */
    /* display: flex; */
    border-bottom: 2px solid #ccc;
}

.anchor{
    
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    color: #626262;
    text-decoration: none;
    width: fit-content;

}
.imp-links img{
    width: 30px;
    margin-right: 10px;
    /* display: list-item; */
}
.imp-links a:last-child{
    color: #1876f2;
}

.shortcut-links a{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    color: #626262;
    text-decoration: none;
    /* width: fit-content; */
    padding-top: 15px;

}
.shortcut-links a img{
    width: 35px;
}
.shortcut-links{
    margin-top: 10px;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    /* background-color: ; */

}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.events{
    position: absolute;
    top: 50px;
    
}
.event{
    display: flex;
    /* flex-direction: row; */
}
.left-events{
    /* border: 0.5px solid #626262; */
    text-align: center;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40px;
    position: relative;
    overflow: hidden;
}
.right-event{
    margin-left: 15px;
    padding: 1px;
}
.left-events span{
    font-size: 10px;
    color: #fff;
    font-weight: 100;
    background-color: #1876f2;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.right-event p{
    font-size: 12px;
}
.event{
    margin-top: 12px;
}

.advert{
    position: absolute;
    width: 88%;
    top: 220px;
    display: flex;
    justify-content: space-between;
}

.advertisement{
    position: absolute;
    left: 0;
    width: 100%;
    top: 30px;
}
.close{
    margin-left: 210px;
}

.conversation{
    position: absolute;
    top: 480px;

}

.online-lists{
    position: relative;
}

.member1{
    position: absolute;
    top: 520px;
}

.member2{
    position: absolute;
    top: 650px;
}

.member3{
    position: absolute;
    top: 845px;
    right: 900px;
    left: 1055px;
}

.member4{
    position: absolute;
    top: 975px;
    left: 1055px;
} 