*{
    padding: 0px;
    margin: 0px;
}
body{

}
.main_pic{
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -1;
    /* opacity: 0.9; */
}
.main{
    /* position: absolute; */
    /* z-index: 0; */
    color: white;
    text-align: center;
    width: 40%;
    position: relative;
    top: 200px;
    left: 450px;
}
.input{
    width: 70%;
    height: 30px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 4px;
    /* margin-left: 6px; */
    padding-left: 6px;
}
.search{
    margin-top: 35px;
}
.search p{
    text-align: left;
}
.btn{
    width: 200px;
    height: 40px;
    padding: 10px;
    position: relative;
    left: 30px;
    background-color: rgb(178, 88, 32);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.head{
    height: 600px;
    box-shadow: inset 10px 10px 10px black;
}
.secondpic{
    width: 50%;
    height: 500px;
    position: relative;
    top: 250px;
    z-index: -1;
}
.thirdPic{
    width: 87%;
    height: 500px;
    position: relative;
    left: 190px;
    top: 0px;
}
.text{
    border: 2px solid black;
}